[ace_device]


# these are the serial connection options and should not need to be modified

serial: /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
baud: 115200


# speeds, 100 seems to be the maximum speed the ace will allow

feed_speed: 90
load_speed: 100
retract_speed: 25



# feeder mode allows you to leave the original U1 feeders on the printer
# and connect the ace to the U1 feeders on the sides of the printer.
# this allows you to still use the side spools if you needed.
# setting this to True will enable that functionality

enable_feeder_mode: False



# feed assist, setting this to False will disable feed assist

enable_feed_assist: True



# disable u1 rfid reader, setting this to True will disable the internal rfid reader of the printer
# this will stop the printer detecting spools on the sides of the printer while loading with ace.

disable_u1_rfid: False



# force generic vendor for all spools detected by rfid.
# this allows the filament to be selected in snapmaker orca with default generic filaments.

force_generic: False



# max temp for dryer

max_dryer_temperature: 55


# slot 1 2 3 4 are the individual numbered feeders/extruders
# this allows for different settings per slot


# the feed length is the distance from the ace to the u1
# the script detects the filament hitting the u1 sensor
# this only needs to be modified if the filament does not reach the u1 feeder

feed_length_slot1: 1000
feed_length_slot2: 1000
feed_length_slot3: 1000
feed_length_slot4: 1000


# the load length is the distance from the u1 feeder to the extruder
# these values should be fine unless you have extended the tubes

load_length_slot1: 850
load_length_slot2: 850
load_length_slot3: 850
load_length_slot4: 850


# the retract length is how far the ace retracts the filament when you
# unload the filament from the u1 touch screen menu
# if you do not like the loose filament on the spool set these values to 100 which
# is enough to clear the extruder but should not cause the loose filament issue shown in the video

retract_length_slot1: 100
retract_length_slot2: 100
retract_length_slot3: 100
retract_length_slot4: 100


[gcode_macro Start_Ace_Dryer]
gcode:
    {% set max_temp = printer.configfile.settings['ace_device'].max_dryer_temperature|int %}
    {% set target_temp = params.TEMPERATURE|default(55)|int %}
    {% set dry_time = params.DURATION|default(240)|int %}
    {% if target_temp > max_temp %}
        { action_respond_info("Target temp %dC is too high! Capping to %dC based on [ace_device] config." % (target_temp, max_temp)) }
        {% set target_temp = max_temp %}
    {% endif %}
    ACE_START_DRYING TEMPERATURE={target_temp} DURATION={dry_time}
	
	
[gcode_macro Stop_Ace_Dryer]
gcode:
    ACE_STOP_DRYING
